.bodytag{
    padding-left: 95px;
    padding-top: 22px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
.webhomename{
    color:aqua;
}
section{
    display: flex;
    margin-bottom: 170px;
}
img{
    width: 700px;
}
.link_button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Second-body{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.Second-body h1{
    color:tomato;
}
.Resumelink{
    text-decoration: none;
    background-color: aqua;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
}
.Exp{
    padding-left: 20px;
    font-size: 300%;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experience-area h1{
    font-size: 250%;
    color: aqua;
}
.Experience-area h3{
    color: orange;
}
.box-plot{
    box-shadow: 10px 10px 40px tomato;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 5px;
}
#first-box{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#sec-box{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,orange);
    border-image-slice: 1;
}