.bodytag{
    padding-left: 95px;
    padding-top: 22px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.webhomename{
    color:aqua;
}
section{
    display: flex;
}
img{
    width: 700px;
}
.link_button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    font-weight: 700;
    color: white;
    border-radius: 5px;
}